.Main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.img-and-title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-img {
  margin: 0 auto;
  width: 90%;
  cursor: pointer;
}

.festival-list-link {
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.stay-list-link {
  color: white;
  font-size: 40px;
  cursor: pointer;
}